@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Pricedown';
  src: url('../src/Components/Assets/pricedown.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
